*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;    
}
.wrapper{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}
.slider{
display: flex;
overflow: hidden;
width: 400%;
margin: 2% auto;
}
.slide{
    width: 100%;
    height: 80vh;
}
.slide img{
    width: 100%;
    height: 100%;
}
.s1{
    
}
.controls{
display: flex;
gap: .5rem;
justify-content: end;
}
.controls input{
    cursor: pointer;
}


#sl2{
    background-color: rgb(197, 35, 35);
}
#sl2:checked {
    background-color: #fff;
}