*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;    
}
.wrapper{
    padding: 0 1rem;
}
input{
    visibility: hidden;
    width: 0;
    height: 0;
}

main{      
    margin: 0 auto;
    max-width: 75rem;
    overflow: hidden;  
}
.slider{
display: flex;
width: 400%;
margin: 2% auto;
}
.slide{
    width: 100%;
    height: 85vh;
}
.slide img{
    width: 100%;
    height: 100%;
}
.sl1{
    z-index: 10;
}
footer{
    margin: 0 auto;
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    overflow: hidden;
    gap: 1rem;
    align-items: center;
    padding: 0 .5rem;
}
.text{
    width: 400%;
    height: 100%;  
}
.text div{
    width: 100%;
    height: 1rem;
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.controls{
display: flex;
gap: .5rem;
}
.lab1,.lab2,.lab3,.lab4{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#sl1:checked ~ main > .slider{
    transform: translateX(0);
    transition: .5s;
}
#sl2:checked ~ main > .slider {
    transform: translateX(-25%);
    transition: .5s;
}
#sl3:checked ~ main > .slider {
    transform: translateX(-50%);
    transition: .5s;
}
#sl4:checked ~ main > .slider {
    transform: translateX(-75%);
    transition: .5s;
}
#sl1:checked ~ footer > .text{
    transform: translateY(0);
    transition: .5s;
}
#sl2:checked ~ footer > .text{
    transform: translateY(-2.7rem);
    transition: .5s;
}
#sl3:checked ~ footer > .text{
    transform: translateY(-6rem);
    transition: .5s;
}
#sl4:checked ~ footer > .text{
    transform: translateY(-9rem);
    transition: .5s;
}.circle-wrapp{
    width: 1.3rem;
    height: 1.3rem;
    background-color: rgb(119, 119, 119);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: .95rem;
    height: .95rem;
    border-radius: 50%;  
    background-color: #777;  
}
#sl1:checked ~ footer > .controls > .lab1 > .circle-wrapp > .circle{
    background-color: #fff;  
}
#sl2:checked ~ footer > .controls > .lab2 > .circle-wrapp > .circle{
    background-color: #fff;  
}
#sl3:checked ~ footer > .controls > .lab3 > .circle-wrapp > .circle{
    background-color: #fff;  
}
#sl4:checked ~ footer > .controls > .lab4 > .circle-wrapp > .circle{
    background-color: #fff;  
}
.lab1:hover  .circle-wrapp{
    background-color: rgb(180, 180, 180);    
    cursor: pointer;
}
.lab1:hover  .circle-wrapp > .circle{
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}
.lab2:hover  .circle-wrapp{
    background-color: rgb(180, 180, 180);cursor: pointer;
}
.lab2:hover  .circle-wrapp > .circle{
    background-color: rgb(180, 180, 180);cursor: pointer;
}
.lab3:hover  .circle-wrapp{
    background-color: rgb(180, 180, 180);cursor: pointer;
}
.lab3:hover  .circle-wrapp > .circle{
    background-color: rgb(180, 180, 180);cursor: pointer;
}
.lab4:hover  .circle-wrapp{
    background-color: rgb(180, 180, 180);cursor: pointer;
}
.lab4:hover  .circle-wrapp > .circle{
    background-color: rgb(180, 180, 180);cursor: pointer;
}
.lab1:active  .circle-wrapp{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab1:active  .circle-wrapp > .circle{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab2:active  .circle-wrapp{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab2:active  .circle-wrapp > .circle{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab3:active  .circle-wrapp{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab3:active  .circle-wrapp > .circle{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab4:active  .circle-wrapp{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
.lab4:active  .circle-wrapp > .circle{
    background-color: rgb(75, 75, 75);cursor: pointer;
}
@media(max-width:1160px){
    .text div{
        font-size: 1rem;
    }
}

@media(max-width: 815px){
    main{
        height: 80vw;
        margin-bottom: 1rem;
    }
    .slide{
        height: 85vw;
    }
    footer{
        height: 2.5rem;
    }
    .text{

    }
    .text div{
        font-size: 1rem;
        margin-bottom: 2rem;
    }    

}
@media(max-height: 670px){    
    main{
        height: 85vh;
    }
}
@media(max-height: 400px){
    main{
        height: 80vh;
    }
}

@media(max-width: 540px){
    .slider{
        margin-top: 0;
    }
    footer{
        flex-direction: column;
        height: 8rem;
        justify-content: space-around;
        gap: 1rem;
    }
    .text{
        display: flex;
        order: 4;
        height: 8rem;
        overflow: hidden;
    }
    .text div{
        padding: 0 2rem;
        height: 2rem;
        width: 100%;
        overflow-wrap: break-word;
        text-align: center;
    }
    .controls{
        order: 1;        
    }
    #sl1:checked ~ footer > .text{
        transform: translateY(0);
        transform: translateX(38%);
        transition: .5s;
    }
    #sl2:checked ~ footer > .text{
        transform: translateY(0);
        transform: translateX(12.7%);
        transition: .5s;
    }
    #sl3:checked ~ footer > .text{
        transform: translateY(0);
        transform: translateX(-12%);
        transition: .5s;
    }
    #sl4:checked ~ footer > .text{
        transform: translateY(0);
        transform: translateX(-38%);
        transition: .5s;
    }
    main{
        height: 60vh;
        margin-bottom: 1rem;
    }
    .slider div{
        height: 60vh;
    }
}
@media (max-width:500px) and (max-height:600px){
    main{
        height: 60vh;
    }
    .slider div{
        height: 60vh;
    }
}
